<!DOCTYPE html>
<html>
<head>
  <title>CasLogin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to 'Unsecured Page', unsecured_path %>
  <%= link_to 'Secured Page', secured_path %>
  <% if current_user %>
    <%= link_to 'Logout', logout_path %>
  <% end %>
  <br>
  <% if flash[:error] %>
    <div class="flash-error"><%= flash[:error] %></div>
  <% end %>
  
  <%= yield %>

</body>
</html>
